
a[data-rel=media] {
	position: relative;
	display: inline-block;
}
a[data-rel=media]:before {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: block;
	background: url(../img/youtube-play-button.png) center no-repeat;
}
