<style>
/** table **/

.table {
	border-collapse: collapse;
	color: #2d3a4f;
}

.table,
.table th,
.table td {
	border: 2px solid #b4b4b4;
}

.table th {
	color: #f76a1d;
}

.table tr:nth-child(odd) {

}




</style>


<div class="cart_table"><table class="table">
	<thead><tr>
		<th class="cart_img"></th>
		<th class="cart_name">Наименование товара</th><th class="cart_count">Количество</th>
		<th class="cart_price">Цена, руб.</th><th class="cart_old_price">Цена со скидкой, руб.</th><th class="cart_discount">Скидка</th><th class="cart_summ">Сумма, руб.</th><th class="cart_remove">Удалить</th>
	</tr></thead><tbody>
		<tr>
			<td class="cart_img"><a href="http://evakovrikoff.ru/shop/lada/lada-vesta-2015---nv/?p4=5&p2=32&p3=54"><img src="/userfiles/shop/preview/230_audi-q7-ii-2015-nv.jpg" width="227" height="150" alt="Lada Vesta 2015 - н.в." title="Lada Vesta 2015 - н.в."></a> </td>
			<td class="cart_name"><a href="http://evakovrikoff.ru/shop/lada/">Lada</a> / <a href="http://evakovrikoff.ru/shop/lada/lada-vesta-2015---nv/?p4=5&p2=32&p3=54">Lada Vesta 2015 - н.в., Комплектность: Комплект в салон, Цвет ковра: бежевый, Цвет окантовки: бежевый</a></td>
			<td class="js_cart_count cart_count"><nobr> <span class="js_cart_count_minus cart_count_minus">-</span> <input type="text" class="number" value="1" min="0" name="editshop77_a3i4i5i2i32i3i54_" size="2"> <span class="js_cart_count_plus cart_count_plus">+</span> </nobr></td><td class="cart_old_price">2&nbsp;300</td><td class="cart_price">2&nbsp;100</td><td class="cart_discount">200 руб.</td>
			<td class="cart_summ">2&nbsp;100</td>
			<td class="cart_remove"><span class="js_cart_remove" confirm="Вы действительно хотите удалить товар из корзины?"><input type="hidden" id="del77_a3i4i5i2i32i3i54_" name="del77_a3i4i5i2i32i3i54_" value="0"></span></td>
		</tr>
		<tr class="cart_last_tr">
			<td class="cart_total" colspan="2">Итого за товары</td><td class="cart_count">1</td><td class="cart_price"></td><td class="cart_old_price"></td><td class="cart_discount"></td>
	<td class="cart_summ">2&nbsp;100</td>
			<td class="cart_last_td">&nbsp;</td>
		</tr><tr><th colspan="7" class="cart_delivery_title">Способ доставки</th>
		<th class="cart_last_th">Выбрать</th></tr>
			<tr>
				<td colspan="6" class="cart_delivery">
					<div class="cart_delivery_name">Самовывоз</div>
					<div class="cart_delivery_text">Забрать по адресу: пр. Беляева, д.1, здание Челны-Лада.</div>
				</td>
				<td class="cart_summ">0</td>
				<td class="cart_check"><input name="delivery_id" id="delivery_id_4" value="4" type="radio"  checked><label for="delivery_id_4">&nbsp;</label></td>
			</tr>
			<tr>
				<td colspan="6" class="cart_delivery">
					<div class="cart_delivery_name">Доставка по Набережным Челнам</div>
					<div class="cart_delivery_text">Привезем коврики, куда вам удобно.</div>
				</td>
				<td class="cart_summ">0</td>
				<td class="cart_check"><input name="delivery_id" id="delivery_id_5" value="5" type="radio" ><label for="delivery_id_5">&nbsp;</label></td>
			</tr>
			<tr>
				<td colspan="6" class="cart_delivery">
					<div class="cart_delivery_name">По России почтой</div>
					<div class="cart_delivery_text">По тарифам Почты России.</div>
				</td>
				<td class="cart_summ">0</td>
				<td class="cart_check"><input name="delivery_id" id="delivery_id_6" value="6" type="radio" ><label for="delivery_id_6">&nbsp;</label></td>
			</tr>
			<tr>
				<td colspan="6" class="cart_delivery">
					<div class="cart_delivery_name">По России транспортной компанией</div>
					<div class="cart_delivery_text">По тарифам транспортных компаний.</div>
				</td>
				<td class="cart_summ">0</td>
				<td class="cart_check"><input name="delivery_id" id="delivery_id_7" value="7" type="radio" ><label for="delivery_id_7">&nbsp;</label></td>
			</tr>
	<tr class="cart_last_tr">
		<td class="cart_total" colspan="2">Итого к оплате</td><td class="cart_count"></td><td class="cart_price"></td><td class="cart_old_price"></td><td class="cart_discount"></td><td class="cart_summ">2&nbsp;100<br>в т. ч. НДС<br>320</td>
	<td class="cart_last_td">&nbsp;</td>
	</tr></tbody>
</table></div>
