<style>
/** hover-items **/

.hover-items {
	text-align: center;
}

.hover-items__item {
	display: inline-block;
}

img.hover-items__icon {
    display: block;
    margin: 0 auto;
}

img.hover-items__icon-hover {
    display: none;
    margin: 0 auto;
}

.hover-items__item:hover {
	font-weight: bold;
}

.hover-items__item:hover img.hover-items__icon {
	display: none;
}

.hover-items__item:hover img.hover-items__icon-hover {
	display: block;
}

.hover-items__title {
	margin-top: 15px;
}
</style>


<div class="hover-items content-block">
	<div class="hover-items__item">
		<img class="hover-items__icon" src="/userfiles/garmoniya/icons/icon-hover-items1.png">
		<img class="hover-items__icon-hover" src="/userfiles/garmoniya/icons/icon-hover-items1_sel.png">
		<div class="hover-items__title">Массаж</div>
	</div>
	<div class="hover-items__item">
		<img class="hover-items__icon" src="/userfiles/garmoniya/icons/icon-hover-items2.png">
		<img class="hover-items__icon-hover" src="/userfiles/garmoniya/icons/icon-hover-items2_sel.png">
		<div class="hover-items__title">Дыхательная практика</div>
	</div>
	<div class="hover-items__item">
		<img class="hover-items__icon" src="/userfiles/garmoniya/icons/icon-hover-items3.png">
		<img class="hover-items__icon-hover" src="/userfiles/garmoniya/icons/icon-hover-items3_sel.png">
		<div class="hover-items__title">Диагностика организма</div>
	</div>
	<div class="hover-items__item">
		<img class="hover-items__icon" src="/userfiles/garmoniya/icons/icon-hover-items4.png">
		<img class="hover-items__icon-hover" src="/userfiles/garmoniya/icons/icon-hover-items4_sel.png">
		<div class="hover-items__title">Танцетеропия</div>
	</div>
	<div class="hover-items__item">
		<img class="hover-items__icon" src="/userfiles/garmoniya/icons/icon-hover-items5.png">
		<img class="hover-items__icon-hover" src="/userfiles/garmoniya/icons/icon-hover-items5_sel.png">
		<div class="hover-items__title">Камнетеропия</div>
	</div>
	<div class="hover-items__item">
		<img class="hover-items__icon" src="/userfiles/garmoniya/icons/icon-hover-items6.png">
		<img class="hover-items__icon-hover" src="/userfiles/garmoniya/icons/icon-hover-items6_sel.png">
		<div class="hover-items__title">Избавление от зависимостей</div>
	</div>
</div>
