
$font1: "Open Sans", sans-serif;
$font2: GothamPro, sans-serif;

$lg-width: 1176px;

$xs-breakpoint: 400px;
$sm-breakpoint: 576px;
$md-breakpoint: 800px;
$lg-breakpoint: 992px;
$xl-breakpoint: 1200px;
